includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - routes
    level: 5
    checkModelProperties: true
    excludePaths:
        analyseAndScan:
            - app/Providers/TelescopeServiceProvider.php (?)
